.dicj_menu {
    .title {
        display: flex;
        background: #F5F0ED;
        border-radius: 8px 8px 0px 0px;
        height: 64px;
        align-items: center;
        position: sticky;
        top: 0;
        z-index: 1;
        justify-content: space-between;
        .title_left{
            display: flex;
            align-items: center;
            .pre_bolck {
                display: flex;
                margin-left: 24px;
            }
    
            .title_text {
                margin-left: 24px;
                font-size: 28px!important;
                color: #212121;
                letter-spacing: 0;
                line-height: 28px;
                font-weight: 600;
            }
        }
        .title_right {
            display: flex;
            margin-right: 24px;
            
            .button {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 20px !important;
                color: #00735C;
                letter-spacing: 0;
                line-height: 32px;
                font-weight: 400;
            }
        }
    }

    .row {
        overflow-y: auto;
        overflow-x: hidden;
        padding: 40px;
    }
}


.card_style {
    height: 170px;
    .card_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .menu_tile {
            display: flex;
            margin-top: 21px;
            font-size: 24px !important;
            color: #212121;
            text-align: center;
            line-height: 28px;
            font-weight: 400;
        }
    }
}